body {

}

.required label {
    position: relative;
}

.required label:before {
    content: '* ';
    color: #A94442;

}

.admin-default-login {
    padding-top: 15px;
}

.box {
    padding: 15px;
}